.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav-link{
    text-decoration: white;
    color: white;
    font-size: smaller;
}

.nav-link:hover{
    color: rgba(231,76,60,0.69)
}

#denoncer-un-cas{
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer-links{
    padding-top: 5px;
    padding-left: 20px;
}

html {
    scroll-behavior: smooth;
}

.suivant{
    opacity: .25;
    animation: pulse 1s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.formulaire{
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: smaller;
}

.my_btn_success {
    background-color: rgba(26,188,156,0.69);
    color: white;
}

.my_btn_success:hover{
    background-color: rgb(26,188,156);
}
